:root {
  --white: #fff;
  --dark-blue: #051e36;
  --tan: #d8a47f;
  --border-radius: 50px;
}

* {
  font-family: "Roboto Slab", serif;
  box-sizing: border-box;
}

body {
  background-color: black;
  color: #b1b5c8;
}

.navbar {
  text-transform: uppercase;
  border-bottom: 3px solid #b1b5c8;
  width: 98.5%;

  margin-left: 1%;
  padding: 15px 0;
  font-size: 2em;
  font-weight: 500;
  overflow: hidden;
}

.navbar ul li {
  display: flex;
  padding: 1px 10px;
  justify-content: flex-end;
  float: right;
}

.main {
  margin-left: auto;
  margin-right: auto;
}

.section-1,
.section-2 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-right: 10px;
}

h2 {
  flex: 0 0 20%;
  text-align: right;
  border-right: 5px solid;
  padding: 10px;
  font-size: 60px;
}
.section-1 > div,
.section-2 > div {
  flex: 0 0 40%;
}

.section-1 p,
.section-2 p {
  padding-left: 40px;
  padding-bottom: 20px;
  margin-bottom: 20px;
  padding-top: 10px;
}

.container {
  display: flex;
  width: auto;
  height: auto;
  margin: 0 auto;
  border: 10px solid white;
}

.container #fig-1 {
  justify-content: center;
  width: 1000px;
  height: 400px;
}

a,
a:focus,
a:active {
  text-decoration: none;
  color: inherit;
}
