:root {
  --white: #fff;
  --dark-blue: #051e36;
  --tan: #d8a47f;
  --border-radius: 50px;
}

* {
  /* background-color: rgb(20, 1, 8); */
  font-family: "Roboto Slab", serif;
}

body{
  background-image: linear-gradient(-145deg, #FEFCFD, #BFCDE0, #A7B1C9, #8E95B1, #767999, #5D5D81, #4C486B, #3B3355, #1E1C2D, #000505);
}

.navbar {
  text-transform: uppercase;
  /* border-bottom: 2px solid; border-image: linear-gradient(#000505,#1E1C2D #3B3355, #4C486B, #5D5D81, #767999, #8E95B1, #A7B1C9, #BFCDE0, #FEFCFD); */
  border-bottom: 2px solid black;
  width: 98.5%;
  
  margin-left: 1%;
  padding: 15px 0;
  font-size: 2em;
  font-weight: 500;
  overflow: hidden;
}

.navbar ul li {
  display: flex;
  padding: 1px 10px;
  justify-content: flex-end;
  float: right;
}

/* #000505, #1E1C2D,#3B3355, #4C486B, #5D5D81, #767999, #8E95B1, #A7B1C9, #BFCDE0, #FEFCFD, */