:root {
  --white: #fff;
  --dark-blue: #051e36;
  --tan: #d8a47f;
  --border-radius: 50px;
}

*{
  /* background-color: rgb(20, 1, 8); */
  font-family: "Roboto Slab", serif;
  box-sizing: border-box;
}

body{
}

.navbar {
  text-transform: uppercase;
  /* border-bottom: 2px solid; border-image: linear-gradient(#000505,#1E1C2D #3B3355, #4C486B, #5D5D81, #767999, #8E95B1, #A7B1C9, #BFCDE0, #FEFCFD); */
  border-bottom: 2px solid black;
  width: 98.5%;
  
  margin-left: 1%;
  padding: 15px 0;
  font-size: 2em;
  font-weight: 500;
  overflow: hidden;
}

.navbar ul li {
  display: flex;
  padding: 1px 10px;
  justify-content: flex-end;
  float: right;
}

.section-1{
  display: flex;
}

#p1{
  border-width: 5px;
  width: 75%;
  border-style: solid;
  border-image: linear-gradient(-145deg, #000505, #1E1C2D,#3B3355, #4C486B, #5D5D81, #767999, #8E95B1, #A7B1C9, #BFCDE0, #FEFCFD);
  border-image-slice: 1;
  border-radius: 5px;
}

#side-column{
  border-width: 5px;
  border-style: solid;
  margin-right: 20px;
  width: 25%;
  height: 100%;
}

aside{
  display: block;
}
/* #000505, #1E1C2D,#3B3355, #4C486B, #5D5D81, #767999, #8E95B1, #A7B1C9, #BFCDE0, #FEFCFD, */